<div class="container-fluid" style="padding: 0em;">
  <div class="row">
    <div class="col-12 d-block">
      <div class="top-image-container">
        <img src="../../../assets/img/instrument_table.jpg" class="img-fluid top-image" />

        <button class="buy-now-button buy-now-button-position" [routerLink]="['/bio-basin-2']">
          <div class="buy-now-text">BUY NOW</div>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="middle-section" style="padding: 0em">
        
        <!-- View For bootstrap small view and greater -->
        <div class="row">
          <div class="col-12">
            <div class="profession-row">
              <div class="row d-none d-sm-flex">
              	<div class="col-3 profession-column">
                		<div class="profession-title">ER</div>
                		<div class="profession-description">
                      <div>Any suturing or</div> 
                      <div>wound debridement</div>
                		</div>
              	</div>
              	<div class="col-3 profession-column">
                		<div class="profession-title">Trauma</div>
                		<div class="profession-description">
                      <div>Any upper laceration</div>
                      <div>above the shoulders</div>
                      <div>(plastics)</div>
                		</div>
              	</div>
              	<div class="col-3 profession-column">
                		<div class="profession-title">ENT</div>
                		<div class="profession-description">
                			<div>Ear Lavage</div>
                		</div>
              	</div>
              	<div class="col-3 profession-column">
                		<div class="profession-title">Orthopedics</div>
                		<div class="profession-description">
                			<div>Hand, Knee, and ankle</div>
                      <div>suturing,wound</div> 
                      <div>debridement, and</div> 
                      <div>laceration repair</div>
                		</div>
              	</div>
              </div>
            </div>
          </div>
        </div> 

        <!-- View For bootstrap extra-small view -->
        <div class="row">
          <div class="col-12">
            <div class="profession-row" style="padding: 1em !important">
              <div class="row d-flex d-sm-none">
                <div class="col-6 profession-column">
                    <div class="profession-title">ER</div>
                    <div class="profession-description">
                      <div>Any suturing or</div> 
                      <div>wound debridement</div>
                    </div>
                </div>
                <div class="col-6 profession-column">
                    <div class="profession-title">Trauma</div>
                    <div class="profession-description">
                      <div>Any upper laceration</div>
                      <div>above the shoulders</div>
                      <div>(plastics)</div>
                    </div>
                </div>
                <div class="col-6 profession-column" style="margin-top: 2em">
                    <div class="profession-title">ENT</div>
                    <div class="profession-description">
                      <div>Ear Lavage</div>
                    </div>
                </div>
                <div class="col-6 profession-column" style="margin-top: 2em">
                    <div class="profession-title">Orthopedics</div>
                    <div class="profession-description">
                      <div>Hand, Knee, and ankle</div>
                      <div>suturing,wound</div> 
                      <div>debridement, and</div> 
                      <div>laceration repair</div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div> 


         <!-- View For bootstrap small view and greater -->
       <div class="row blurry-image d-none d-md-flex">
          <div class="bg-image"></div>
          <div class="col-8 offset-4" style="position: absolute; right: 0%; top: 20%;">
            <div class="what-is-bio-basin">
              What is the Bio Basin?
            </div>
            <div class="the-bio-basin-is-a-light-weigh">
                The Bio Basin is a light weight basin designed to improve fluid collection in a variety of clinical settings. It has been proven effective for irrigation of various lacerations, extremities, eyes, ear canals and other procedures. This product is patented and designed by hospital personnel with over 25 years of patient care experience.
            </div>
          </div>
        </div>

         <!-- View For bootstrap small view and greater -->
        <div class="row d-none d-md-flex">
          <div class="col-8 offset-4">
            <div class="hear-it-from-clinicians">
              Hear it from the Clinicians
            </div>
            <div class="testimony">
                “Whether cleansing hand, foot, or head wounds, the Bio basin is the practical basin to use while irrigating, without creating a mess. No balancing the extremity on an emesis basin or folding pads to direct fluid into the trash can.  While repairing the wound, the procedure can continue without redressing the surgical field. At the conclusion of the procedure, the basin is easily removed to allow disposal of the fluid. I use it every night I am in the Emergency Department, or for referrals taken care of in the office.”
            </div>
            <div class="testimony">
              - Eric Vanderhooft M.D.
            </div>
          </div>
        </div>

        <!-- View For bootstrap extra-small view -->
       <div class="row blurry-image d-flex d-md-none">
          <div class="bg-image"></div>
          <div class="col-10 offset-1 what-is-bio-basin-position">
            <div class="what-is-bio-basin">
              What is the Bio Basin?
            </div>
            <div class="the-bio-basin-is-a-light-weigh">
                The Bio Basin is a light weight basin designed to improve fluid collection in a variety of clinical settings. It has been proven effective for irrigation of various lacerations, extremities, eyes, ear canals and other procedures. This product is patented and designed by hospital personnel with over 25 years of patient care experience.
            </div>
          </div>
        </div>

         <!-- View For bootstrap extra-small view -->
        <div class="row d-flex d-md-none">
          <div class="col-10 offset-1">
            <div class="hear-it-from-clinicians">
              Hear it from the Clinicians
            </div>
            <div class="testimony">
                “Whether cleansing hand, foot, or head wounds, the Bio basin is the practical basin to use while irrigating, without creating a mess. No balancing the extremity on an emesis basin or folding pads to direct fluid into the trash can.  While repairing the wound, the procedure can continue without redressing the surgical field. At the conclusion of the procedure, the basin is easily removed to allow disposal of the fluid. I use it every night I am in the Emergency Department, or for referrals taken care of in the office.”
            </div>
            <div class="testimony">
              - Eric Vanderhooft M.D.
            </div>
          </div>
        </div>


      </div>
    </div>
  </div> 

  <div class="row">
    <div class="col-12">
      <div class="footer">
        This is a footer
      </div>
    </div>
  </div>

</div>
